<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form-container">
    <div>
        <label for="name">Product Name</label>
        <input id="name" type="text" formControlName="name" />
        <div *ngIf="backendErrors?.name" class="error">{{ backendErrors.name }}</div>
    </div>

    <div>
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" required></textarea>
        <div *ngIf="productForm.get('description')?.touched && productForm.get('description')?.errors?.['invalidDescription']"
            class="error">
            {{ productForm.get('description')?.errors?.['invalidDescription'] }}
        </div>
    </div>

    <div>
        <label for="price">Price</label>
        <input type="number" id="price" formControlName="price" required>
        <div *ngIf="productForm.get('price')?.touched && productForm.get('price')?.errors?.['invalidPrice']"
            class="error">
            {{ productForm.get('price')?.errors?.['invalidPrice'] }}
        </div>
    </div>

    <div>
        <label for="stockQuantity">Stock Quantity</label>
        <input type="number" id="stockQuantity" formControlName="stockQuantity" required>
        <div *ngIf="productForm.get('stockQuantity')?.touched && productForm.get('stockQuantity')?.errors?.['invalidQuantity']"
            class="error">
            {{ productForm.get('stockQuantity')?.errors?.['invalidQuantity'] }}
        </div>
    </div>

    <div>
        <label for="category">Category</label>
        <select id="category" formControlName="categoryId" required>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
        <div *ngIf="backendErrors?.categoryId">{{ backendErrors.categoryId }}</div>
    </div>

    <div>
        <label for="image">Image</label>
        <input type="file" id="image" (change)="onFileSelected($event)">
        <div *ngIf="fileError" class="error">
            {{ fileError }}
        </div>
    </div>

    <button type="submit" [disabled]="!productForm.valid">Create Product</button>
</form>