<div class="cart">
  <h2>Your Cart</h2>
  <div class="cart-items">
    <div class="cart-item" *ngFor="let item of cartItems">
      <img [src]="getProductImageUrl(item.product)" class="product-image">

      <div class="item-details">
        <h3>{{ item.product.name }}</h3>
        <div class="quantity-container">
          <label for="quantity-{{ item.id }}">Quantity:</label>
          <input id="quantity-{{ item.id }}"
                 type="number"
                 [(ngModel)]="item.quantity"
                 (change)="updateItem(item.id, item.quantity)"
                 min="1"
                 step="1"
                 pattern="\d*"
                 min="1"
                 [attr.max]="item.product.stockQuantity"
                 required>
          <span class="quantity-info">
            (Max: {{ item.product.stockQuantity }})
          </span>
        </div>
        <p class="price">{{ item.product.price * item.quantity | currency }}</p>
      </div>
      <button class="remove-button" (click)="removeItem(item.id)">Remove</button>
    </div>
    <div class="cart-summary">
      <h3 class="total-heading">
        Total: <span class="total">{{ totalAmount | currency }}</span>
      </h3>
      <button (click)="clearCart()" class="btn-clear">Clear Cart</button>
      <!--<button (click)="placeOrder()">Place Order</button>-->
    </div>
  </div>
</div>
