<div class="background">
  <div class="main">
  <p>Create a new account:</p>
  <form (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email"
             id="email"
             name="email"
             ngModel
             required
             #email="ngModel"
             [ngClass]="{ 'is-invalid': email.invalid && email.touched }"
             placeholder="Enter your email" />
      <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
        Email is required.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"
             id="password"
             name="password"
             ngModel
             required
             #password="ngModel"
             [ngClass]="{ 'is-invalid': password.invalid && password.touched }"
             placeholder="Enter your password" />
      <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
        Password is required.
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password"
             id="confirmPassword"
             name="confirmPassword"
             ngModel
             required
             #confirmPassword="ngModel"
             [ngClass]="{ 'is-invalid': confirmPassword.invalid && confirmPassword.touched }"
             placeholder="Confirm your password" />
      <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="invalid-feedback">
        Confirming your password is required.
      </div>
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text"
             id="firstName"
             name="firstName"
             ngModel
             required
             #firstName="ngModel"
             [ngClass]="{ 'is-invalid': firstName.invalid && firstName.touched }"
             placeholder="Enter your first name" />
      <div *ngIf="firstName.invalid && firstName.touched" class="invalid-feedback">
        First name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text"
             id="lastName"
             name="lastName"
             ngModel
             required
             #lastName="ngModel"
             [ngClass]="{ 'is-invalid': lastName.invalid && lastName.touched }"
             placeholder="Enter your last name" />
      <div *ngIf="lastName.invalid && lastName.touched" class="invalid-feedback">
        Last name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input type="text"
             id="city"
             name="city"
             ngModel
             required
             #city="ngModel"
             [ngClass]="{ 'is-invalid': city.invalid && city.touched }"
             placeholder="Enter your city" />
      <div *ngIf="city.invalid && city.touched" class="invalid-feedback">
        City is required.
      </div>
    </div>

    <div class="form-group">
      <label for="street">Street</label>
      <input type="text"
             id="street"
             name="street"
             ngModel
             required
             #street="ngModel"
             [ngClass]="{ 'is-invalid': street.invalid && street.touched }"
             placeholder="Enter your street" />
      <div *ngIf="street.invalid && street.touched" class="invalid-feedback">
        Street is required.
      </div>
    </div>

    <div class="form-group">
      <label for="postalCode">Postal Code</label>
      <input type="text"
             id="postalCode"
             name="postalCode"
             ngModel
             required
             #postalCode="ngModel"
             [ngClass]="{ 'is-invalid': postalCode.invalid && postalCode.touched }"
             placeholder="Enter your postal code" />
      <div *ngIf="postalCode.invalid && postalCode.touched" class="invalid-feedback">
        Postal code is required.
      </div>
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="registerForm.invalid" class="btn-register">Register</button>
    </div>
  </form>
  </div>
</div>
