.header-container {
    padding-top: 100px;
    color: white;
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: black;
    text-align: center;
    justify-content: center;
}

.header-container h1 {
    font-size: 54px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.header-gif {
    width: 80px;
}

.desc-container {
    text-align: justify;
}

.desc-container p {
    font-size: 34px;
    color: #808080;
}

.link-container {
    text-align: center;
    margin-top: 20px;
}

.ps-store-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #0070d1;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.ps-store-button:hover {
    background-color: #005bb5;
}