<div class="background">

    <div class="header-container">
        <h1>Welcome to<br />SmartSHOP</h1>
        <img src="/assets/shopping_cart.gif" alt="Opis obrazka" class="header-gif" />
    </div>

    <div class="desc-container">
        <p>Your one-stop shop for essentials and PlayStation gear</p>
    </div>

    <div class="link-container">
        <a href="https://www.playstation.com/pl-pl/about-playstation-store/" target="_blank"
            class="ps-store-button">OFFICIAL PS STORE</a>
    </div>

</div>