.main {
  margin: 0 auto;
  padding: 30px;
  border-radius: 15px;
  background-color: #121212;
  color: white;
  box-shadow: 0 4px 8px #0070d1;
}

  .main p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 350px;
  padding: 10px;
  margin: 5px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

  input[type="email"].is-invalid,
  input[type="password"].is-invalid {
    border: 2px solid;
    border-color: #e74c3c;
  }

.invalid-feedback {
  color: #e74c3c;
  font-size: 12px;
  margin-top: -10px;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #004682;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
  .btn-login:hover {
    border-radius: 15px;
    background-color: #0070d1;
    box-shadow: 0 0 15px 1px rgba(0, 112, 209, 0.7);
  }

.register-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.register-text {
  margin: 0 10px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}

.divider-line {
  flex: 1;
  height: 1px;
  background-color: #555;
}

.btn-register {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid #004682;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
}

  .btn-register:hover {
    box-shadow: 0 0 15px 1px rgba(0, 112, 209, 0.7);
  }
